/* 
	FlowBox example user style, thanks to ColorBox
	These rules are ordered and tabbed in a way that represents the order/nesting of the generated HTML,

#modalBackgroundOverlay{background:url(imgdark/stripe.png) 0 0 repeat;}
#modalBackgroundOverlay{background-color: silver; opacity: .5}
*/

#flowbox{}
#modalBackgroundOverlay{background:#202020;}
	#modalContent{margin-top:32px;}
		#modalLoadedContent{background:#000; padding:2px;border:5px solid #000;}
			#contentTitle{position:absolute; top:-22px; left:0; color: #919191; font-weight:bold;}
			#contentCurrent{display:none;}
			#contentPrevious{width:29px; height:32px; display:block; text-indent:-9999px; position:absolute; top:-32px; right:60px; background:url(images/dark/buttons.png) left top no-repeat;}
			#contentPrevious:hover{background-position:left bottom;}
			#contentNext{width:29px; height:32px; display:block; text-indent:-9999px; position:absolute; top:-32px; right:28px; background:url(images/dark/buttons.png) right top no-repeat;}
			#contentNext:hover{background-position:right bottom;}
		#modalLoadingOverlay{background: #121212 url(images/dark/loading.gif) no-repeat center center;}
		#modalClose{position:absolute; top:-32px; right:0px; display:block; background:url(images/dark/buttons.png) -29px 0 no-repeat; width:26px; height:32px; text-indent:-9999px;}
		#modalClose:hover{background-position:-29px -31px; cursor:pointer;}
#modalVideo {
	width: 640px;
	height: 360px;
}

