
#stacks_in_406_page4 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_408_page4 .stacks_left {
	float:left;
	width:70%;
}

#stacks_in_408_page4 .stacks_right {
	float:right;
	width:28%;
}
#stacks_in_410_page4 {
	padding: 5px 5px 5px 5px;
}

#stacks_in_414_page4 {
	background-color: #FFFFFF;
	border: solid #D1D8E0;
	border-width: 1px 1px 1px 1px;
	margin: 2px 2px 2px 2px;
	padding: 5px 15px 5px 15px;
}

#stacks_in_416_page4 {
	background-color: #FFFFFF;
	border: solid #D1D8E0;
	border-width: 1px 1px 1px 1px;
	margin: 15px 2px 2px 2px;
	padding: 5px 15px 5px 15px;
}

#stacks_in_408_page4 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_418_page4 {
	background-color: #21326C;
	margin: 12px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_420_page4 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_422_page4 {
	background-color: #21326C;
	margin: 12px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_424_page4 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_424_page4 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_426_page4 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_429_page4 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_424_page4 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_431_page4 {
	background-color: #21326C;
	margin: 12px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_433_page4 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_433_page4 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_435_page4 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_437_page4 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_440_page4 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_442_page4 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_433_page4 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_444_page4 {
	background-color: #21326C;
	margin: 12px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_448_page4 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_450_page4 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_452_page4 {
	background-color: #21326C;
	margin: 12px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_456_page4 {
	background-color: #FFFFFF;
	margin: 0px 5px 0px 5px;
}

#stacks_in_458_page4 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_461_page4 {
	background-color: #EAE6B7;
	margin: 0px 5px 0px 5px;
}

#stacks_in_463_page4 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_466_page4 {
	background-color: #B5A082;
	margin: 0px 5px 0px 5px;
}

#stacks_in_468_page4 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_471_page4 {
	background-color: #484644;
	margin: 0px 5px 0px 5px;
}

#stacks_in_473_page4 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_454_page4 {
	width: 65%;
}

#stacks_in_454_page4 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_481_page4 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_483_page4 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_485_page4 {
	background-color: #21326C;
	margin: 12px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_487_page4 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}
