
#stacks_in_22_page1 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_24_page1 .stacks_left {
	float:left;
	width:69%;
}

#stacks_in_24_page1 .stacks_right {
	float:right;
	width:29%;
}
#stacks_in_26_page1 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_30_page1 {
	background-color: #FFFFFF;
	border: solid #D1D8E0;
	border-width: 1px 1px 1px 1px;
	margin: 2px 2px 2px 2px;
	padding: 5px 15px 5px 15px;
}

#stacks_in_32_page1 {
	border: solid #D1D8E0;
	border-width: 1px 1px 1px 1px;
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_34_page1 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_24_page1 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_36_page1 {
	background-color: #21326C;
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_38_page1 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_40_page1 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_42_page1 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_42_page1 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_44_page1 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_46_page1 {
	margin: 12px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_49_page1 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_42_page1 {
	width: 65%;
}

#stacks_in_42_page1 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}
