/* @group General Styles */

@font-face {
	font-family: 'CoconutMedium';
	src: url('Coconut-Medium.eot');
	src: local('Coconut Medium'), local('Coconut-Medium'), url('Coconut-Medium.woff') format('woff'), url('Coconut-Medium.ttf') format('truetype'), url('Coconut-Medium.svg#Coconut-Medium') format('svg');
}

body {
	text-align: justify;
	font:13px/1.5 Century Gothic,'Helvetica Neue',Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;
	background: #f5f7fa url('images/bg.png') center top repeat-x;
}

h1 {line-height: 1em; font-size: 2.2em;color: #ba000f;text-align:center;}
h2 {line-height: 1em; font-size:1.6em;color: #ffffff;text-align:center;}
h3 {font-size:1.6em;color:#ba000f;text-align:center;}
h4 {font-size:1.2em;color:#ba000f;text-align:left;}
h5 {font-size:1.0em;color:#ba000f;text-align:right;}
h6 {font-size:0.9em;color:#ba000f;text-align:left;}

b, strong {
	font-weight: bold;
}

a:link, a:visited {color: #ba000f;

}

a:hover, a:active { border-bottom-style: dotted; border-bottom-width: 1px;

}

.image-left {
	float: left;
}

.image-right {
	float: right;
}

.quote-text {
	font-size: 1.2em;
	color: #ba000f;
}

hr {
  border-width: 0;
  color: #d1d8e0;
  background-color: #d1d8e0;
  height: 1px;
  width: 100%;
  float: left;
}
	
/* @end */


/* @Greg Layout */



#todo {
	width: 892px;
	margin: 0 auto;
}

#logobar {
	font-weight: bold;
	width: 892px;
	height: 86px;
	clear: both;
	line-height: 1em; font-size: 36px;color: #f30011; vertical-align: center; 
	padding-top: 50px;
	background: url('images/logo.png') no-repeat;
	text-indent: -9000px;
}

#menubar {
	margin-left: 38px;
	width: auto;
	height: 56px;
	font-size: 15px;
}


#menubar a {
	border: 0px;
	color: white;
}

#menubar ul {
	list-style-type: none;
}

#menubar ul a:hover {
	color: #c0ddfa;
}

#menubar ul li {
	font-weight: bold;
	width: 136px;
	height: 39px;
	padding-top: 17px;
	font-size: 15px;
	font-family: 'Helvetica Neue',Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;
	float: left;
	text-align: center;
	color: white;
	background: url('images/menubar_btn.jpg') repeat-x;
}

#menubar ul li:hover {
	background-position: 0px -56px;
	border-bottom-color: white;
	border-bottom-style: dotted;
	border-bottom-width: 0px;
	font-style: normal;
}

#menubar ul ul {
	position: relative;
	width: 20px;
	top: 0px;
	left: 0px;
	right: 0;
	display: none;
	z-index: 6;
	font-size: 0.9em;
	padding: 0px 0px;
	margin-top: 16px;
}

#menubar ul ul li {
	text-align: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	height: 25px;
	width: 200px;
	background: #070d13;
	display: block;
}

#menubar ul ul li:hover {
	border: 0px;
	color: inherit;
	background: #334659;
}

#menubar ul ul a {
	display: block;
	width: 200px;
}

#menubar ul ul a:hover {
	color: #c0ddfa;
}

#menubar ul ul #current{
}

div#menubar ul ul, div#menubar ul ul ul, div#menubar ul li:hover ul ul, div#menubar ul li:hover ul ul ul, div#menubar ul li:hover ul ul ul ul, div#menubar ul li:hover ul ul ul ul ul{
display:none;
}

div#menubar ul li:hover ul, div#menubar ul ul li:hover ul, div#menubar ul ul ul li:hover ul, div#menubar ul ul ul ul li:hover ul, div#menubar ul ul ul ul ul li:hover ul{
display:block;
}

#logo_underneath {
	width: 267px;
	height: 53px;
	background: url('images/aa_logo_underneath.jpg') no-repeat;
	float: left;
}

#menubar_underneath {
	font-weight: bold;
	font-family: "Helvetica, Lucida Grande", Arial, Verdana, sans-serif;
	width: 623px;
	height: 38px;
	float: right;
	margin-left: 30px;
	margin-top: 15px;
	color: #730000;
	font-size: 15px;
}

#menubar_underneath a:hover, a:active {
	border-bottom-style: dotted; 
	border-bottom-width: 1px;
	color: #730000;
}

#mainer {
	background-repeat: repeat;
	clear: both;
	width: 832px;
	min-height: 400px;
	margin: 0px 2px 0px 2px;
	padding: 15px 30px 0px 30px;
	background: url('images/gradient_bg.png') repeat-x;
	
}

#mainer ul li{
	margin-left: 53px;
	list-style-position: outside;
	list-style-type: disc;
}

#mainer .row {
	border-bottom: 1px solid #462d1b;
}

#gallery-images {margin-top: 20px;}
#gallery-images a:hover {border: none !important;}
#gallery-images img {border: #ccc 1px solid; margin-bottom: 3px;}

#bottomer {
	
	font-size: 15px;
	padding-left: 20px;
	padding-top: 15px;
	border-top: #d1d8e0 1px solid;
	clear: both;
	width: 892px;
	height: 35px;
	color: black;
	margin: 15px 0px 15px 0px;
	
}

#bottomer a:hover, a:active { border-bottom-style: dotted; border-bottom-width: 1px; color: red;

}

#banner_bg {
	background: url('images/gradient_bg.png') repeat-x;
}

#banner {
	width: 892px;
	height: 289px;
	border-right: #003467 2px solid;
	border-left: #003467 2px solid;
	background: url('images/banner2.jpg');
}

.custom_btn {
	float: center;
	width: auto;
	border: #d1d8e0 1px solid;
	background: #005bb4;
	padding: 2px 7px 2px 7px;
	font-weight: bold;
	color: white;
}

.custom_btn:hover {
	border: #005bb4 1px solid;
	background: white;
	color: black;
}

.swatch {
	width: 120px;
	height: 120px;
	border: black 1px solid;
}

#hover_pic {
	/*margin-left: 162px;*/
	width: 660px;
	height: 499px;
	background: url('images/hover_pic2.png') no-repeat;
}

.target {
	width: 35px;
	height: 35px;
	background: url('images/target.png') no-repeat;
	background-position: bottom center;
}

.target:hover {
	background-position: top center;
}

.target#one {position: absolute; left: 298px; top: 53px;}
.target#two {position: absolute; left: 563px; top: 53px;}
.target#three {position: absolute; left: 298px; top: 123px;}
.target#four {position: absolute; left: 526px; top: 123px;}
.target#five {position: absolute; left: 298px; top: 192px;}
.target#six {position: absolute; left: 483px; top: 192px;}
.target#seven {position: absolute; left: 255px; top: 303px;}
.target#eight {position: absolute; left: 544px; top: 303px;}
.target#nine {position: absolute; left: 298px; top: 412px;}
.target#ten {position: absolute; left: 369px; top: 412px;}
.target#eleven {position: absolute; left: 565px; top: 412px;}

/* @end */


/* @group Banners */
	
.banner {
	width: 892px;
	height: 289px;
	border-right: #003467 2px solid;
	border-left: #003467 2px solid;
}
	
.banner#one{background: url('images/banner1.jpg');}
.banner#two{background: url('images/banner2.jpg');}
.banner#three{background: url('images/banner3.jpg');}
.banner#four{background: url('images/banner4.jpg');}
.banner#five{background: url('images/banner5.jpg');}


	
	
/* @end */



/* @group Layout */

#container {
	width: 885px;
	margin: 12px auto 0 auto;
	background: white;
}

#header ul li {
	float: left;
	width: 177px;
	background: transparent url('images/bg_header.png') top left no-repeat;
	color: #222;
	font: 22px/1.5 'Myriad Pro Light Condensed','Myriad Pro','Myriad','Helvetica Neue',Helvetica,sans-serif;
	text-align: center;
	padding-top: 2px;
}

#header ul li:hover {
	background-position: 0 -35px;
	color: white;
}

#header ul#top-nav li {
	width: 295px;
	height: 139px;
	background: #555;
}

#header ul#top-nav li:hover {
	background-position: 0 -139px !important;
}

#header ul#top-nav li#derrick {
	text-indent: -9000px;
	background: url('images/mid_derrick-austin.jpg');
}

#header ul#top-nav li#sample {
	text-indent: -9000px;
	background: url('images/mid_sample.jpg');
}

#header ul#top-nav li#order {
	text-indent: -9000px;
	background: url('images/mid_order.jpg');
}

#footer {
	clear: both;
	background: #ccc;
	width: 885px;
	font-family: 'Myriad Pro Light Condensed','Myriad Pro','Myriad','Helvetica Neue',Helvetica,sans-serif;
	text-align: center;
	padding: 15px 0;
	margin: 0 auto 15px auto;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius: 0 0 15px 15px;
}

#footer a:link, #footer a:visited {
	text-decoration: underline;
}

#content {
	display: table;
	border-top: 1px solid #ccc;
	clear: both;
}

#menu {
	display: table-cell;
	width: 220px;
	background: #ccc;
	vertical-align: top;
}

#body {
	display: table-cell;
	vertical-align: top;
	width: 665px;
}

#menu ul li {
	height: 30px;
	width: 220px;
	font: 20px/1.6 'Myriad Pro Light Condensed','Myriad Pro','Myriad','Helvetica Neue',Helvetica,sans-serif;
	background: transparent url('images/bg_side.png') top left repeat-x;
	text-indent: 30px;
}

#menu ul li:hover {
	background-position: 0 -30px;
	color: white;
}

#menu a.selected li {
	background-position: 0 -30px;
	color: white;
}
	
/* @end */



/* @group Bread-crumb */

#breadcrumbcontainer {
}

#breadcrumbcontainer ul {
}

#breadcrumbcontainer li {
}

#breadcrumbcontainer a {
}

#breadcrumbcontainer a:hover {
}
	
/* @end */

/* @group Toolbar */

/* Toolbar Styles */

#navcontainer {
	clear: both;
	background: transparent url('images/nav-bg.png') repeat-x;
	border-bottom: 2px solid #4f5221;
	border-top: 2px solid #4f5221;
	overflow: auto;
}

#navcontainer .center {
	width: 950px;
	margin: 0 auto;
}

#navcontainer #current {
}

#navcontainer #current:hover {
}

#navcontainer .currentAncestor {
}

/* Parent - Level 0 */

#navcontainer ul{
	font-family: Helvetica, sans-serif;
	color: #ffdfaa;
	margin: 0;
}

#navcontainer li {
	display: block;
	float: left;
	line-height: 1em;
	font-weight: bold;
}

#navcontainer a {
	display: block;
	text-decoration: none;
	float: left;
	color: #ffdfaa;
	margin: 10px 0 10px 25px;
}

#navcontainer a:hover {
	color: #eece99;
}

#navcontainer a:active {
}

/* Child - Level 1 */

#navcontainer ul ul {
}

#navcontainer ul ul li {
}

#navcontainer ul ul a {
}

#navcontainer ul ul a:hover{
}

#navcontainer ul ul #current{
}

#navcontainer ul ul .currentAncestor {
}

/* Child - Level 2 */

#navcontainer ul ul ul {
}

#navcontainer ul ul ul li { 
}

#navcontainer ul ul ul a{
}

#navcontainer ul ul ul a:hover{
}

#navcontainer ul ul ul #current{
}

#navcontainer ul ul ul .currentAncestor {
}
/* Child Level 3 */

#navcontainer ul ul ul {
}

#navcontainer ul ul ul ul li { 
}

#navcontainer ul ul ul ul a{
}

#navcontainer ul ul ul ul a:hover{
}

/* Child Level 4 */

#navcontainer ul ul ul ul {
}

#navcontainer ul ul ul ul ul li { 
}

#navcontainer ul ul ul ul ul a{
}

#navcontainer ul ul ul ul ul a:hover{
}

/* Child Level 5 */

#navcontainer ul ul ul ul ul {
}

#navcontainer ul ul ul ul ul ul li { 
}

#navcontainer ul ul ul ul ul ul a{
}

#navcontainer ul ul ul ul ul ul a:hover{
}

/* @end */

/* @group Global Classes */

blockquote, .standout {
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

.imageStyle {
}



/* Main content area unordered list styles */
#contentContainer #content ul {
}

#contentContainer #content li {
}

ul.disc {
	list-style-type: disc;
}

ul.circle {
	list-style-type: circle;
}

ul.square {
	list-style-type: square;
}

ol.arabic-numbers {
	list-style-type: decimal;
}

ol.upper-alpha {
	list-style-type: upper-latin;
}

ol.lower-alpha {
	list-style-type: upper-latin;
}

ol.upper-roman {
	list-style-type: upper-roman;
}

ol.lower-roman {
	list-style-type: lower-roman;
}

/* Sidebar area unordered list styles */
#sidebarContainer #sidebar ul {
}

#sidebarContainer #sidebar li {
}


/* Table Styles */
table {
}
/* @end */

/* @group Blog */

/* @group Tag Cloud */


ul.blog-tag-cloud {

}

ul.blog-tag-cloud li {
	display: inline;
}

#sidebarContainer #sidebar ul.blog-tag-cloud li a {
}

#sidebarContainer #sidebar ul.blog-tag-cloud li a:hover {
	text-decoration: underline;
}

.blog-tag-size-1 {	
	font-size: 0.8em;
}

.blog-tag-size-2 {	
	font-size: 0.85em;
}

.blog-tag-size-3 {	
	font-size: 0.9em;
}

.blog-tag-size-4 {	
	font-size: 0.95em;
}

.blog-tag-size-5 {	
	font-size: 1em;
}

.blog-tag-size-6 {	
	font-size: 1.05em;
}

.blog-tag-size-7 {	
	font-size: 1.1em;
}

.blog-tag-size-8 {	
	font-size: 1.15em;
}

.blog-tag-size-9 {	
	font-size: 1.2em;
}

.blog-tag-size-10 {	
	font-size: 1.25em;
}

.blog-tag-size-11 {	
	font-size: 1.3em;
}

.blog-tag-size-12 {	
	font-size: 1.35em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}

.blog-tag-size-14 {	
	font-size: 1.45em;
}

.blog-tag-size-15 {
	font-size: 1.5em;
}

.blog-tag-size-16 {	
	font-size: 1.55em;
}

.blog-tag-size-17 {	
	font-size: 1.6em;
}

.blog-tag-size-18 {	
	font-size: 1.65em;
}

.blog-tag-size-19 {
	font-size: 1.7em;
}

.blog-tag-size-20 {	
	font-size: 1.75em;
}
/* @end */

/* @group Archive Page */

.blog-archive-background {
}

.blog-entry-summary {
}

.blog-archive-headings-wrapper {
}

.blog-archive-entries-wrapper {
}

.blog-archive-entries-wrapper .blog-entry {
}

.blog-archive-month {
}

.blog-archive-link {
}

.blog-archive-link a:link, .blog-archive-link a:visited {
}
	
/* @end */

.blog-entry {
}

h1.blog-entry-title {
}


h1.blog-entry-title a {
}

.blog-entry-date {
}

/*styles the category link in the main entry */
.blog-entry-category {
}

.blog-entry-category a:link, .blog-entry-category a:visited {
}

.blog-read-more {
}

.blog-entry-body {
}

.blog-entry-comments {
}

p.blog-entry-tags {
}

/* styles the archives in the blog sidebar */
#blog-archives {
}

.blog-archive-link-enabled {
}

.blog-archive-link-disabled {
}

/* Styles the blog categories in the blog sidebar */
#blog-categories {
}

.blog-category-link-enabled {
}

.blog-category-link-disabled {
}

/* Styles the blog RSS feeds in the blog sidebar */
#blog-rss-feeds {
}

.blog-rss-link {
}

.blog-comments-rss-link {
}

/* @end */

/* @group File Sharing */

.filesharing-description {
}

.filesharing-item {
}

.filesharing-item-title a:link {
}

.filesharing-item-title a:hover {
}

.filesharing-item-title a:visited {
}

.filesharing-item-description {
}

/* @end */

/* @group Photo Album */

/* @group Index Page (Thumbnail view) */

.album-title {
}

.album-description {
}


.album-wrapper {
}

.thumbnail-wrap {
}

.thumbnail-frame {
}

.thumbnail-frame:hover {
}

.thumbnail-frame a {
}

.thumbnail-frame a:hover {
}

.thumbnail-frame img {
}

.thumbnail-caption {
}
	
/* @end */

/* @group Single Page (Photo view) */

.photo-background {
}

.photo-navigation {
}

.photo-links {
}

.photo-navigation a:link, .photo-navigation a:visited {
}

.photo-navigation a:hover {
}

.photo-frame{
}

.photo-title {
}

.photo-caption {
}

/* @group EXIF data */
/* Data wrapper */
.exif-data {
}

.exif-data p {
}

/* p tag classes for all exif data */
p.exif-version {
}

p.exif-colour-space {
}

p.exif-focal-length {
}

p.exif-dimensions {
}

p.exif-pixel-y-dimension {
}

p.exif-pixel-x-dimension {
}

p.exif-oecf-value {
}

p.exif-subsec-time-original {
}

p.exif-exposure-mode {
}

p.exif-spatial-frequency-response {
}

p.exif-scene-capture-type {
}

p.exif-subject-location {
}

p.exif-shutter-speed {
}

p.exif-datetime-original {
}

p.exif-subsec-time {
}

p.exif-compressed-bits-per-pixel {
}

p.exif-flash-energy {
}

p.exif-saturation {
}

p.exif-brightness {
}

p.exif-exposure-time {
}

p.exif-f-number {
}

p.exif-file-source {
}

p.exif-gain-control {
}

p.exif-subject-area {
}

p.exif-cfa-pattern {
}

p.exif-scene-type {
}

p.exif-white-balance {
}

p.exif-flash {
}

p.exif-exposure-index {
}

p.exif-flashpix-version {
}

p.exif-device-setting-description {
}

p.exif-focalplane-x-resolution {
}

p.exif-image-uniqueid {
}

p.exif-components-configuration {
}

p.exif-light-source {
}

p.exif-sensing-method {
}

p.exif-aperture {
}

p.exif-sharpness {
}

p.exif-exposure-program {
}

p.exif-subject-distance {
}

p.exif-subsec-time-digitized {
}

p.exif-contrast {
}

p.exif-focalplane-resolution-unit {
}

p.exif-gamma {
}

p.exif-35mm-focal-length {
}

p.exif-datetime-digitized {
}

p.exif-subject-distance-range {
}

p.exif-custom-rendered {
}

p.exif-max-aperture {
}

p.exif-sound-file {
}

p.exif-metering-mode {
}

p.exif-spectral-sensitivity {
}

p.exif-exposure-bias {
}

p.exif-focalplane-y-resolution {
}

p.exif-iso-rating {
}

p.exif-maker-note {
}

p.exif-digital-zoom-ratio {
}

p.exif-user-comment {
}
/* @end */

/* @end */
	
/* @end */

/* @group Quicktime Page */

.movie-description {
}
	
/* @end */

/* @group Quicktime Album */

/* @group Index Page (Movie Thumbnail view) */

.movie-page-title {
}

.movie-page-description {
}

.movie-thumbnail-frame {
}

.movie-thumbnail-frame:hover {
}

.movie-thumbnail-caption {
}
	
/* @end */

/* @group Single Page (Movie View) */

.movie-background {
}

.movie-title {
}

.movie-frame {
}
	
/* @end */


/* @end */

/* @group Contact Form */
.message-text { 
} 

.required-text {
} 

.form-input-field {
} 

.form-input-button { 
} 
/* @end */