
#stacks_in_52_page2 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_54_page2 .stacks_left {
	float:left;
	width:53%;
}

#stacks_in_54_page2 .stacks_right {
	float:right;
	width:45%;
}
#stacks_in_56_page2 {
	margin: 4px 4px 4px 4px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_59_page2 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_61_page2 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_61_page2 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_63_page2 .stacks_left {
	float:left;
	width:51%;
}

#stacks_in_63_page2 .stacks_right {
	float:right;
	width:47%;
}
#stacks_in_65_page2 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_68_page2 {
	margin: 2px 2px 2px 2px;
	padding: 5px 15px 5px 5px;
}

#stacks_in_63_page2 {
	background-color: #FFFFFF;
	border: solid #D1D8E0;
	border-width: 1px 1px 1px 1px;
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_71_page2 .stacks_left {
	float:left;
	width:51%;
}

#stacks_in_71_page2 .stacks_right {
	float:right;
	width:47%;
}
#stacks_in_73_page2 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_76_page2 {
	margin: 2px 2px 2px 2px;
	padding: 5px 15px 5px 5px;
}

#stacks_in_71_page2 {
	background-color: #FFFFFF;
	border: solid #D1D8E0;
	border-width: 1px 1px 1px 1px;
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_61_page2 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_78_page2 {
	background-color: #FFFFFF;
	border: solid #D1D8E0;
	border-width: 1px 1px 1px 1px;
	margin: 9px 9px 9px 9px;
	padding: 5px 15px 5px 15px;
}
