
/* Vertical Form Formatting */
#formloom .formloom-ajax-form label, #formloom .formloom-form label{ margin-left:0; float:left; text-align:left; margin:4px 0;  width:100%;}
#recaptcha_widget_div, #fl-captcha-widget {display:block; clear:left;padding:0; }
#formloom .formloom-ajax-form  p, #formloom .formloom-form  p {padding-left:0;}	