
/*
	The following fixes png-transparency for IE6 only.
	
	Since IE does not support background-positioning with filters, it is incompatible with CSS sprites.  
	Flowbox preiously colorbox preloads the 'previous', 'next', 'close' hover-states to account for this.
*/
#contentPrevious{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=files/flowbox/images/dark/previous.png, sizingMethod='crop');}
#contentPrevious:hover{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=files/flowbox/images/dark/previousHover.png, sizingMethod='scale');}
#contentNext{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=files/flowbox/images/dark/next.png, sizingMethod='crop');}
#contentNext:hover{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=files/flowbox/images/dark/nextHover.png, sizingMethod='scale');}
#modalClose{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=files/flowbox/images/dark/close.png, sizingMethod='crop');}
#modalClose:hover{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=files/flowbox/images/dark/closeHover.png, sizingMethod='scale');}

/* 
	Because IE does not support CSS sprites while using the filter attribute 
	this area is for declaring hover-state backgrounds so they can be preloaded
*/
#preloadPrevious{background-image:url(files/flowbox/images/dark/previousHover.png);}
#preloadNext{background-image:url(files/flowbox/images/dark/nextHover.png);}
#preloadClose{background-image:url(files/flowbox/images/dark/closeHover.png);}