#flowbox, #modalBackgroundOverlay, #modalWrap{position:absolute; top:0; left:0; z-index:21001;}
#modalBackgroundOverlay{position:fixed; width:100%; height:100%;}
#flowbox{overflow:hidden; padding:1px; margin-top:-1px; margin-left:-1px;}/*padding fixes a ghosting issue in IE7, the negative margin compensates */
	#modalWrap{width:9000px; height:9000px;}
		#modalContent, #borderTopLeft, #borderTopCenter, #borderTopRight, #borderBottomLeft, #borderBottomCenter, #borderBottomRight, #borderMiddleLeft, #borderMiddleRight {float:left; height:0; width:0; overflow:hidden;}
		#borderMiddleLeft, #borderBottomLeft{clear:left;}
		#modalContent{position:relative; overflow:visible;}
			#contentTitle{margin:0;}
			#modalClose, #contentPrevious, #contentNext{outline:none; cursor:pointer; border:0; margin:0;}
			#modalLoadedContent{overflow:hidden; width:0; height:0;}
			#modalLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
			#modalLoadedContent embed{display:block; border:0;}/* Display:block removes the line-height gap embedded content */
			#modalLoadingOverlay{position:absolute; width:100%; height:100%; top:0; left:0;}


