/* Blue Color Scheme */
a, a:visited { color: #0a579d; }

a:hover { color: #0a579d; }

input[type="submit"], .button { 
	background: #b40618 url(../images/color-blue/sidebar-count.png) repeat-x top;
	border: 1px solid #b40618; 
	text-shadow: 0 -1px 0 #146b85; }
	
h2 { color: #0a579d; }

header li.home.active a { 
	background: url(../images/color-blue/icon-home-active.png) no-repeat;
	background-position: 15px 12px; }
						
header li.tweets.active a { 
	background: url(../images/color-blue/icon-bird-active.png) no-repeat;
	background-position: 12px 12px; }
						
header li.contact.active a { 
	background: url(../images/color-blue/icon-location.png) no-repeat;
	background-position: 14px 12px; }

aside section { background: url(../images/color-blue/sidebar-seperator-red.jpg) no-repeat top right; }

aside li.active a { color: #dae1e7; }

aside li span, aside li a:hover span {
	background: #1d96be url(../images/color-blue/sidebar-count.jpg) repeat-x top; 
	text-shadow: 0 -1px 1px #007c8d; }
	
/* High Resolution Retina Images for iPhone 4 / 4s */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
						
header li.home.active a { 
	background: url(../images/color-blue/icon-home-active-2x.png) no-repeat;
	background-position: 15px 12px; }
						
header li.tweets.active a { 
	background: url(../images/color-blue/icon-bird-active-2x.png) no-repeat;
	background-position: 12px 12px; }
																
header li.contact.active a { 
	background: url(../images/color-blue/icon-location.png) no-repeat;
	background-position: 14px 12px; }

header li.home a, header li.home.active a, header li.contact a, header li.contact.active a { -webkit-background-size: 12px 13px; }

header li.tweets a, header li.tweets.active a { -webkit-background-size: 16px 13px; }

}