#slider img {margin-left: 12px; margin-top: 2px;}

#book-vacation-middle {width:60%; margin: 20px auto;}

#book-vacation-middle h1, #book-vacation-middle h2, #book-vacation-middle h3, #book-vacation-middle h4, #book-vacation-middle h5, #book-vacation-middle h6 {color: white;}

h3.inline {display: inline;}

.mr20 {margin-right: 20px;}

/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, code, del, dfn, em, font, img, ins, kbd, q, s, samp, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, header, section, footer {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
}
/* Basic Styling */
a, a:visited {
	color: #f80021;
	text-decoration: none;
	-webkit-transition-property: color, left, right;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-property: ease-in-out;
}
a:hover {
	color: #ff4e00;
}
html {
	-webkit-font-smoothing: antialiased;
}
body, html {
	background: #272727;
	color: #404040;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 12px;
	line-height: 18px;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	-webkit-text-size-adjust: none;
}
body {
	overflow-y: hidden;
}
header, nav, section, aside, footer {
	display: block !important;
}
div {
	text-align: left;
	vertical-align: top;
}
hr {
	background: #cdcdcc;
	border-top: 1px solid #cfcfcc;
	border: 0;
	height: 1px;
	margin: 10px 0 6px;
}
p {
	padding: 7px 0;
}
textarea, input {
	width: 258px;
	color: #404040;
	background: #f4f4f4;
	border: 1px solid #cdcdcc;
	padding: 8px 6px;
	margin: 2px 0;
	font-size: 12px;
	line-height: 1;
	-webkit-transition-property: background;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-property: ease-in-out;
}
textarea:focus, input:focus {
	background: #fff;
	outline: none;
}
input[type="radio"], input[type="checkbox"] {
	width: auto;
	display: inline;
	margin-right: 6px;
}
input[type="submit"], .button {
	width: auto;
	padding: 10px 12px;
	cursor: pointer;
	background: #be1d1e url(../images/color-blue/sidebar-count.jpg) repeat-x top;
	border: 1px solid #b91b1f;
	font-weight: bold;
	color: #fff;
	font-size: 11px;
	text-shadow: 0 -1px 0 #851417;
	margin: 11px 0 1px;
}
input[type="submit"]:active, .button:active {
	margin: 12px 0 0;
}
.button:hover, .button:visited {
	color: #fff;
}
select, option {
	background: #ffffff;
	color: #000;
}
small {
	font-size: 11px;
}
label {
	display: block;
	font-size: 11px;
	color: #808080;
	padding-top: 8px;
	cursor: pointer;
}
h1 {
	font-size: 18px;
	line-height: 22px;
	padding: 6px 12px;
	margin: 0;
	color: #2b2b2b;
	font-weight: normal;
	-webkit-font-smoothing: subpixel-antialiased;
}
h2 {
	font-size: 16px;
	line-height: 18px;
	padding: 6px 12px;
	margin: 0;
	color: #f80021;
	font-weight: normal;
	-webkit-font-smoothing: subpixel-antialiased;
}
h3 {
	font-size: 16px;
	line-height: 18px;
	padding: 0px 0px;
	margin: 0;
	color: #131f57;
	font-weight: normal;
	-webkit-font-smoothing: subpixel-antialiased;
}
del {
	color: #f80021;
}
/* Clearfix */
.clear:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clear {
	zoom: 1;
}
*:first-child+html .clear {
	zoom: 1;
}
/* Global Border Radius */
.inner-border, aside li span, .controls a, .module, #newsletter-submit, textarea, input, .button {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.outer-border, .controls, #branding ul, #newsletter-input {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.module h3, header li.active {
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
#branding li.previous a {
	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
#branding li.next a {
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
header li.home {
	-webkit-border-top-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	border-top-left-radius: 2px;
}
header li.contact {
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	border-top-right-radius: 2px;
}
/* Box Shadow Settings */	
.dark-shadow, aside li span, .controls a, #wrapper, #newsletter-submit {
	-moz-box-shadow: 0 1px 1px #000;
	-webkit-box-shadow: 0 1px 1px #000;
	box-shadow: 0px 1px 1px #000;
}
.medium-shadow, #branding li a {
	-moz-box-shadow: 0 1px 1px #808080;
	-webkit-box-shadow: 0 1px 1px #808080;
	box-shadow: 0px 1px 1px #808080;
}
.light-shadow, .module {
	-moz-box-shadow: 0 1px 1px #bababa;
	-webkit-box-shadow: 0 1px 1px #bababa;
	box-shadow: 0px 1px 1px #bababa;
}
.inset, .controls, #newsletter-input {
	-moz-box-shadow: inset 0 1px 1px 0px #000;
	-webkit-box-shadow: inset 0 1px 1px 0px #000;
	box-shadow: inset 0px 1px 1px 0px #000;
}
#branding ul {
	-moz-box-shadow: inset 0 1px 1px 1px #808080;
	-webkit-box-shadow: inset 0 1px 1px 1px #808080;
	box-shadow: inset 0px 1px 1px 1px #808080;
}
#wrapper {
	width: 320px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.center {
	text-align: center;
}
/* Sidebar */
aside {
	width: 258px;
	height: 100%;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	background: #131313 url(../images/sidebar-background.jpg) repeat-y right;
	overflow-y: auto;
}
aside section {
	background: url(../images/color-blue/sidebar-seperator.jpg) no-repeat top right;
	padding-top: 3px;
}
aside li, aside label, aside h2 {
	list-style: none;
	background: #1c1c1c url(../images/sidebar-list.jpg) no-repeat top right;
	border-bottom: 1px solid #000000;
	font-size: 11px;
	line-height: 12px;
	color: #fff;
	text-shadow: 0px 1px 1px #000;
}
aside label {
	border: none;
}
aside li:active {
	background: #303030 url(../images/sidebar-list-hover.jpg) no-repeat top right;
}
aside a, aside a:visited {
	padding: 8px 20px;
	display: block;
	font-weight: bold;
	color: #ffffff;
}
aside a:hover {
	color: #c6c6c6;
}
aside li.active a {
	color: #fe2a46;
}
aside label {
	padding: 8px 20px;
	display: block;
	color: #c6c6c6;
}
aside li span, aside li a:hover span {
	color: #fff;
	display: block;
	background: #be1d1e url(../images/color-blue/sidebar-count.jpg) repeat-x top;
	float: right;
	margin-top: -1px;
	line-height: 12px;
	padding: 1px 5px;
	text-shadow: 0 -1px 1px #8d0013;
}
/* Newsletter Subscription */
		aside form div {
	height: 66px;
	background: #1c1c1c url(../images/sidebar-list.jpg) no-repeat bottom right;
	position: relative;
}
#newsletter-input {
	background: #272727 url(../images/background.jpg) repeat;
	border: none;
	padding: 0;
	font-size: 11px;
	line-height: 12px;
	padding: 9px 40px 9px 12px;
	width: 166px;
	position: absolute;
	left: 20px;
	bottom: 5px;
	color: #fff;
	text-shadow: 0px 1px 1px #000;
}
#newsletter-submit {
	text-indent: -9999px;
	width: 14px;
	height: 15px;
	position: absolute;
	right: 23px;
	bottom: 11px;
	border: none;
	border-top: 1px solid #5c5c5c;
	cursor: pointer;
	margin: 0;
	padding: 3px 6px 5px;
	background: #212121 url(../images/controls.jpg) repeat-x top;
}
#newsletter-submit:active {
	bottom: 10px;
}
aside h2 {
	border-top: 1px solid #000000;
	padding: 8px 20px;
	font-weight: bold;
	color: #fff;
	background: #282828 url(../images/sidebar-headline.jpg) no-repeat top right;
}
/* Social Media Icons */
	#socialize li a, #contact li a, .address div {
	padding: 8px 20px 8px 50px;
}
.twitter a {
	background: url(../images/icons/icon-twitter.png) no-repeat left;
}
.facebook a {
	background: url(../images/icons/icon-facebook.png) no-repeat left;
}
.flickr a {
	background: url(../images/icons/icon-flickr.png) no-repeat left;
}
.linkedin a {
	background: url(../images/icons/icon-linkedin.png) no-repeat left;
}
.forrst a {
	background: url(../images/icons/icon-forrst.png) no-repeat left;
}
.web a {
	background: url(../images/icons/icon-web.png) no-repeat left;
}
.email a {
	background: url(../images/icons/icon-email.png) no-repeat left;
}
.phone a {
	background: url(../images/icons/icon-phone.png) no-repeat left;
}
.address a {
	background: url(../images/icons/icon-address.png) no-repeat left;
}
.address div {
	background: url(../images/icons/icon-address.png) no-repeat left;
}
.twitter a, .facebook a, .flickr a, .linkedin a, .forrst a, .web a, .email a, .phone a, .address a {
	background-position: 20px 4px;
}
.address div {
	background-position: 20px 16px;
}
/* Main Content */
#content {
	width: 320px;
	height: 100%;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-property: ease-in-out;
	overflow-y: auto;
	background: #ebebeb;
}
.open {
	-webkit-transform: translate3d(258px, 0, 0);
}
/* Sidebar Toggle & Tabbed Navigation */
	header {
	height: 47px;
	width: 320px;
	background: #2c2c2c url(../images/header-background.jpg) repeat-x top;
}
/* Sidebar Toggle */
.controls {
	background: #171717;
	float: left;
	margin: 6px 0 0 10px;
	padding: 3px;
}
.controls a {
	color:#FFF;
}
.controls a:visited {
	color:#FFF;
}
.controls a:hover {
	color:#FFF;
}
.controls a, .controls img {
	display: block;
}
.controls img {
	width: 17px;
}
.controls a {
	cursor: pointer;
	border-top: 1px solid #5c5c5c;
	background: #212121 url(../images/controls.jpg) repeat-x top;
	padding: 6px 9px 8px;
}
.controls a:active {
	padding: 7px 9px;
	opacity: 0.65;
}
.controls.active img {
	opacity: 0.35;
}
/* Tabbed Navigation */
		header ul {
	float: right;
	margin: 9px 12px 0 0;
}
header li {
	list-style: none;
	float: left;
	background: #c6c6c6 url(../images/tab-background.jpg) repeat-x top;
	margin-top: 2px;
}
header li a {
	display: block;
	height: 35px;
	width: 42px;
	text-indent: -9999px;
}
header li a:active {
	opacity: 0.65;
}
.home, .tweets, .services {
	border-right: 1px solid #aaaaaa;
}
header li.active {
	margin: 0;
	background: #dae1e7;
	border: none;
	position: relative;
}
header li.active a {
	height: 38px;
}
header li.active:before, header li.active:after {
	content: "";
	display: block;
	height: 38px;
	width: 10px;
	position: absolute;
	top: 0;
}
header li.active:before {
	left: -10px;
	background: url(../images/tab-active-left.png) no-repeat top right;
}
header li.active:after {
	right: -10px;
	background: url(../images/tab-active-right.png) no-repeat top right;
}
header li.home a {
	background: url(../images/icons/icon-home.png) no-repeat;
	background-position: 15px 12px;
}
header li.home.active a {
	background: url(../images/color-blue/icon-home-active.png) no-repeat;
	background-position: 15px 12px;
}
header li.home a:active {
	background-position: 15px 13px;
}
header li.tweets a {
	background: url(../images/icons/icon-bird.png) no-repeat;
	background-position: 12px 12px;
}
header li.tweets.active a {
	background: url(../images/color-blue/icon-bird-active.png) no-repeat;
	background-position: 12px 12px;
}
header li.tweets a:active {
	background-position: 12px 13px;
}

header li.call a {
	background: url(../images/icons/icon-call.png) no-repeat;
	background-position: 12px 9px;
}
header li.call.active a {
	background: url(../images/color-blue/icon-phone-active.png) no-repeat;
	background-position: 12px 9px;
}
header li.call a:active {
	background-position: 12px 10px;
}

header li.services a {
	background: url(../images/icons/icon-services.png) no-repeat;
	background-position: 12px 9px;
}
header li.services.active a {
	background: url(../images/color-blue/icon-services-active.png) no-repeat;
	background-position: 12px 9px;
}
header li.services a:active {
	background-position: 12px 10px;
}


header li.contact a {
	background: url(../images/icons/icon-location.png) no-repeat;
	background-position: 14px 12px;
}
header li.contact.active a {
	background: url(../images/color-blue/icon-contact-active.png) no-repeat;
	background-position: 14px 12px;
}
header li.contact a:active {
	background-position: 14px 13px;
}
/* Logo & Slideshow Controls */			
	#branding {
	background: #dae1e7;
	height: 144px;
	position: relative;
	top: -1px;
	border-top: 1px solid #000;
}
#logo {
	float: left;
	margin: 5px 0 0 24px;
}
#logo:active {
	margin-top: 5px;
	opacity: 0.65;
}
#branding ul {
	float: right;
	background: #c4c4c4;
	padding: 3px;
	margin: 20px 12px 0 0;
	border-bottom: 1px solid #fafafa;
}
#branding li {
	float: left;
	list-style: none;
}
#branding li a {
	display: block;
	padding: 7px 13px;
	border-top: 1px solid #ffffff;
	background: #ebebeb url(../images/slideshow-controls.jpg) repeat-x top;
	cursor: pointer;
}
#branding li a img {
	width: 12px;
	display: block;
}
#branding li.previous {
	border-right: 1px solid #acacac;
}
#branding li a:active {
	padding: 8px 13px 6px;
	opacity: 0.65;
}
/* Slideshow Appearance & Introduction / Tagline */		
	#slideshow, #main {
	background: #0e1120;
}
#slideshow {
	padding-top: 10px;
}
#slideshow h1 {
	text-align: center;
	font-size: 22px;
	line-height: 26px;
	padding: 10px 12px 10px;
	margin: 0;
	color: #FFF;
	font-weight: normal;
	text-shadow: 0 1px 1px #000;
}
#slideshow img {
	display: block;
}
#slideshow li {
	list-style: none;
}
/* Main Content Format */
	#main {
	padding: 0 12px;
	display: inline-block !important;
}
#main.inner {
	padding: 12px 12px 0;
}
.module {
	background: #ffffff;
	margin-bottom: 12px;
}
.module img {
  max-width: 272px;
  margin-left: 12px;
}
.module h3 {
	background: #ebebeb url(../images/headline-background.jpg) repeat-x top;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #cdcdcc;
	margin: 0;
	font-size: 13px;
	line-height: 16px;
	padding: 15px 12px 14px;
	font-weight: bold;
	color: #808080;
	text-shadow: 1px 1px 0 #fff;
}
.module p {
	padding: 2px 12px;
}
.module div {
	padding: 7px 0;
}
.module ul li, .module ol li {
	list-style: none;
	padding: 6px 12px 5px;
	border-top: 1px solid #cdcdcc;
	font-size: 11px;
	font-weight: bold;
}
.odd, .comments {
	background: #f4f4f4;
	text-shadow: 1px 1px 0 #fff;
}
.author, .comments {
	font-size: 11px;
	font-weight: bold;
}
.article {
	border-top: 1px solid #cdcdcc;
	border-bottom: 1px solid #cdcdcc;
}
.article:last-child {
	border-bottom: none;
}
.action {
	text-align: center;
	padding: 6px 0 18px;
}
.module form div {
	padding: 1px 12px 12px;
	border-top: 1px solid #cdcdcc;
}
.feed {
	padding: 0 0 7px !important;
	min-height: 1100px !important;
}
.feed li {
	font-weight: normal !important;
	font-size: 12px !important;
	padding: 10px 12px 10px 40px !important;
	background: url(../images/icons/icon-bird.png) no-repeat;
	background-position: 12px 12px;
}
.feed li.tweet_odd {
	background: #f4f4f4 url(../images/icons/icon-bird.png) no-repeat;
	background-position: 12px 12px;
}
.feed li:first-child {
	border: none !important;
}
.tweet_time {
	display: block;
	font-size: 11px;
	font-weight: bold;
}
/* Copyright Information */		
	footer {
	font-size: 11px;
	text-align: center;
	padding: 16px;
	color: #808080;
	text-shadow: 1px 1px 0px #f0f0f0;
	border-top: 1px solid #c8c8c7;
}
footer b {
	color: #2b2b2b;
}
footer h3 {
	font-size: 40px;
	line-height: 18px;
	padding: 0px 0px;
	margin: 0;
	color: #131f57;
	font-weight: normal;
	-webkit-font-smoothing: subpixel-antialiased;
}
.sidebar-scroll, .content-scroll {
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
	height: 100% !important;
}
		
/* High Resolution Retina Images for iPhone 4 / 4s */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
aside {
	background: #131313 url(../images/sidebar-background-2x.jpg) repeat-y right;
	-webkit-background-size: 300px 50px;
}
aside h2 {
	background: #282828 url(../images/sidebar-headline-2x.jpg) no-repeat top right;
	-webkit-background-size: 300px 50px;
}
aside li, aside label, aside form div {
	background: #1c1c1c url(../images/sidebar-list-2x.jpg) no-repeat top right;
	-webkit-background-size: 300px 100px;
}
aside li:active {
	background: #303030 url(../images/sidebar-list-hover-2x.jpg) no-repeat top right;
	-webkit-background-size: 300px 100px;
}
.twitter a {
	background: url(../images/icons/icon-twitter-2x.png) no-repeat left;
}
.facebook a {
	background: url(../images/icons/icon-facebook-2x.png) no-repeat left;
}
.flickr a {
	background: url(../images/icons/icon-flickr-2x.png) no-repeat left;
}
.linkedin a {
	background: url(../images/icons/icon-linkedin-2x.png) no-repeat left;
}
.forrst a {
	background: url(../images/icons/icon-forrst-2x.png) no-repeat left;
}
.web a {
	background: url(../images/icons/icon-web-2x.png) no-repeat left;
}
.email a {
	background: url(../images/icons/icon-email-2x.png) no-repeat left;
}
.phone a {
	background: url(../images/icons/icon-phone-2x.png) no-repeat left;
}
.address a {
	background: url(../images/icons/icon-address-2x.png) no-repeat left;
}
.address div {
	background: url(../images/icons/icon-address-2x.png) no-repeat left;
}
.twitter a, .facebook a, .flickr a, .linkedin a, .forrst a, .web a, .email a, .phone a, .address a, .address div {
	background-position: 20px 4px;
	-webkit-background-size: 16px 18px;
}
header {
	background: #2c2c2c url(../images/header-background-2x.jpg) repeat-x top;
	-webkit-background-size: 100px 47px;
}
header li.home a {
	background: url(../images/icons/icon-home-2x.png) no-repeat;
	background-position: 15px 12px;
}
header li.home.active a {
	background: url(../images/color-blue/icon-home-active-2x.png) no-repeat;
	background-position: 15px 12px;
}
header li.tweets a {
	background: url(../images/icons/icon-bird-2x.png) no-repeat;
	background-position: 12px 12px;
}
header li.tweets.active a {
	background: url(../images/color-blue/icon-bird-active-2x.png) no-repeat;
	background-position: 12px 12px;
}
header li.contact a {
	background: url(../images/icons/icon-location-2x.png) no-repeat;
	background-position: 14px 12px;
}
header li.contact.active a {
	background: url(../images/color-blue/icon-contact-active-2x.png) no-repeat;
	background-position: 14px 12px;
}
header li.home a, header li.home.active a, header li.contact a, header li.contact.active a {
	-webkit-background-size: 12px 13px;
}
header li.tweets a, header li.tweets.active a {
	-webkit-background-size: 16px 13px;
}
#branding li a {
	background: #ebebeb url(../images/slideshow-controls-2x.jpg) repeat-x top;
	-webkit-background-size: 5px 27px;
}
#slideshow, #main {
	background: #0a579d;
	-webkit-background-size: 128px 128px;
}
.controls a, #newsletter-submit {
	background: #212121 url(../images/controls-2x.jpg) repeat-x top;
	-webkit-background-size: 5px 27px;
}
.module h3 {
	background: #ebebeb url(../images/headline-background-2x.jpg) repeat-x top;
	-webkit-background-size: 5px 45px;
}
li.carousel-pagination-active {
	background-position: 0 0;
}
}
