
#stacks_in_1_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_3_page0 .stacks_left {
	float:left;
	width:67%;
}

#stacks_in_3_page0 .stacks_right {
	float:right;
	width:31%;
}
#stacks_in_5_page0 .stacks_left {
	float:left;
	width:51%;
}

#stacks_in_5_page0 .stacks_right {
	float:right;
	width:47%;
}
#stacks_in_7_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_10_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 15px 5px 5px;
}

#stacks_in_5_page0 {
	background-color: #FFFFFF;
	border: solid #D1D8E0;
	border-width: 1px 1px 1px 1px;
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_15_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_3_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_17_page0 {
	background-color: #21326C;
	margin: 12px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_19_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}
