
#stacks_in_348_page8 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_350_page8 .stacks_left {
	float:left;
	width:69%;
}

#stacks_in_350_page8 .stacks_right {
	float:right;
	width:29%;
}
#stacks_in_355_page8 {
	border: solid #D1D8E0;
	border-width: 1px 1px 1px 1px;
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_357_page8 {
	background-color: #FFFFFF;
	border: solid #D1D8E0;
	border-width: 1px 1px 1px 1px;
	margin: 2px 2px 2px 2px;
	padding: 5px 15px 5px 15px;
}

#stacks_in_350_page8 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_359_page8 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_359_page8 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_361_page8 {
	margin: 2px 2px 0px 2px;
	padding: 5px 5px 0px 5px;
}

#stacks_in_363_page8 {
	margin: 0px 2px 2px 2px;
	padding: 0px 5px 5px 5px;
}

#stacks_in_365_page8 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_368_page8 {
	margin: 2px 2px 0px 2px;
	padding: 5px 5px 0px 5px;
}

#stacks_in_370_page8 {
	margin: 0px 2px 2px 2px;
	padding: 0px 5px 5px 5px;
}

#stacks_in_372_page8 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_359_page8 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_374_page8 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_376_page8 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_376_page8 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_378_page8 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_383_page8 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_385_page8 {
	background-color: #FFFFFF;
	border: solid #D1D8E0;
	border-width: 1px 1px 1px 1px;
	margin: 2px 2px 2px 2px;
	padding: 5px 15px 5px 15px;
}

#stacks_in_376_page8 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_387_page8 {
	background-color: #21326C;
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_389_page8 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_392_page8 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_394_page8 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_394_page8 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_396_page8 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_398_page8 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_400_page8 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_403_page8 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_394_page8 {
	width: 65%;
}

#stacks_in_394_page8 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}
